html {
    /* background-color: blue; */
    font-family: sans-serif;
    font-weight: bold;
}

header, #subtitle, #choice, #result {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

#choice-container {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

#play-container {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

#player-choice, #computer-choice {
    background-color: rgb(43, 43, 43);
    height: 15em;
    width: 17em;
    margin: 2em;
}

#player-header, #computer-header {
    background-color: black;
    color: white;
    width: inherit;
    height: 3em;
    text-align: center;
    margin: 0;
}

#computer-header-div > p, #player-header > p{
 margin: 0px;
 padding-top: 1em;
    
}

#computer-move, #player-move {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    margin-top: 3em;
}

#choice-container > div {
    padding: 2em;
}
img {
    width: 6em;
    height: 6em;
    background-color:  rgb(43, 43, 43);
    border-radius: 20%;
    border: none;


}